@model Winery.Models.Product
@using Winery.Ultilities;
@using Winery.Services;
@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/product-detail.css" rel="stylesheet">
<script src="~/Scripts/product-details.js"></script>
<body>
    <div class="product-purchase-wrapper">
        <div class="product-purchase">
            <div class="product-display left">
                <div class="product-image">
                    <img src="~/Content/Images/wine/@WineryUtilities.ParseItemNameIntoPNGFileName(Model.ProductName)" />
                </div>
            </div>
            <div class="product-display right">
                <div class="product-capacity">
                    <span>@(Model.ProductCapacity)cl / @(Model.ProductABV)%</span>
                </div>
                <div class="product-name">
                    <h2>@Model.ProductName.ToUpper()</h2>
                </div>
                <hr class="hr-product-purchase-seperator" />
                <div class="product-brand">
                    <h5>Brand: @Model.Brand.BrandName</h5>
                </div>
                <div class="product-price">
                    @{
                        if (ProductUtilityService.IsProductOnSale(Model))
                        {
                            <span>£@(Model.ProductSalePrice.Value.ToString("F2"))</span>
                        }
                        else
                        {
                            <span>£@Model.ProductPrice.ToString("F2")</span>
                        }
                    }
                </div>
                <div class="product-desc">
                    <p>@Model.ProductDesc</p>
                </div>
                <div class="product-display-filler">

                </div>
                <div class="product-quantity">
                    <button class="decrease-quantity" onclick="decreaseQuantity()">
                        -
                    </button>
                    <input class="input-number-quantity" id="quantity" value="1" />
                    <button class="increase-quantity" onclick="increaseQuantity()">
                        +
                    </button>
                </div>
                <div class="product-purchase-buttons">
                    <button onclick="addToCart()" class="add-to-cart-button">ADD TO CART</button>
                </div>
                <script>
                    function addToCart() {
                        const quantity = document.getElementById('quantity').value;
                        const productId = @Model.ProductID; // Pass ProductID from the server
                        window.location.href = `@Url.Action("AddToCart", "ShoppingCart")?id=${productId}&quantity=${quantity}`;
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="product-specs-container-title">
        <h1>DETAILS</h1>
    </div>
    <div class="product-specs-container">
        <div class="product-specs-list">
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>Brand</h4>
                </div>
                <div class="product-spec-content">
                    <p>@Model.Brand.BrandName</p>
                </div>
            </div>
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>Vintage</h4>
                </div>
                <div class="product-spec-content">
                    <p>@Model.ProductYearAging</p>
                </div>
            </div>
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>Origin</h4>
                </div>
                <div class="product-spec-content">
                    <p>@Model.ProductOrigin</p>
                </div>
            </div>
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>ABV</h4>
                </div>
                <div class="product-spec-content">
                    <p>@(Model.ProductABV)%</p>
                </div>
            </div>
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>Bottle Size</h4>
                </div>
                <div class="product-spec-content">
                    <p>@(Model.ProductCapacity)CL</p>
                </div>
            </div>
            <div class="product-spec">
                <div class="product-spec-title">
                    <h4>Catergory</h4>
                </div>
                <div class="product-spec-content">
                    <p>@Model.Category.CategoryName</p>
                </div>
            </div>
        </div>
    </div>
</body>
