@model IEnumerable<Winery.Models.Product>
@using Winery.Ultilities;
@using Winery.Services;
@using Winery.Models;
@{
    if (ViewBag.Category != null)
    {
        ViewBag.Title = $"{ViewBag.Category.CategoryName}s | Winery";
    }
    else
    {
        ViewBag.Title = $"World of Wines | Winery";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/product-index-styles.css" rel="stylesheet" type="text/css">
<link href="~/Content/home-index-styles.css" rel="stylesheet" >
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="page-title-wrapper">
            <div class="breadcrumb">

            </div>
            <h1 class="page-title" id="page-title-heading">
                @if (ViewBag.Category != null)
                {
                    <span>@(ViewBag.Category.CategoryName.ToUpper())S</span>
                }
                else
                {
                    <span>WORLD OF WINES</span>
                }
            </h1>
        </div>
        <div class="category-view">
            <div class="category-image">
                <img src="~/Content/Images/category/@CategoryUtilityService.ParseItemNameIntoPNGFileName(ViewBag.Style.ToString())" />
            </div>
            <div class="category-description">
                <p>
                    @if (ViewBag.Category != null)
                    {
                        <span>@(ViewBag.Category.CategoryDesc.ToString())</span>
                    }
                    else
                    {
                        <span>A huge selection of wines from around the world specially selected by our brilliant buyers and Master of Wine. Comprised of a vast range of styles including classic elegant champagnes, bold reds, luxuriously sweet dessert wines, organic and so much more.</span>
                    }
                </p>
            </div>
        </div>
        @if (ViewBag.Category == null)
        {
            <div class="row">
                <div class="section header">
                    <h1>SHOP BY CATEGORY</h1>
                </div>
                <div class="row">
                    <div class="shop-category-list">
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 1 })">
                                    <img src="~/Content/Images/shop-category/red-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">RED WINES</h4>
                        </div>
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 2 })">
                                    <img src="~/Content/Images/shop-category/white-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">WHITE WINES</h4>
                        </div>
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 3 })">
                                    <img src="~/Content/Images/shop-category/rose-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">ROSÉ WINES</h4>
                        </div>
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 4 })">
                                    <img src="~/Content/Images/shop-category/champagne-sparkling-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">CHAMPAGNE WINES</h4>
                        </div>
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 5 })">
                                    <img src="~/Content/Images/shop-category/orange-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">ORANGE WINES</h4>
                        </div>
                        <div class="shop-category-item">
                            <div class="shop-category-image">
                                <a href="@Url.Action("Index", "Product", new { style = 6 })">
                                    <img src="~/Content/Images/shop-category/fortified-wines.jpg" />
                                </a>

                            </div>
                            <h4 class="shop-category-title">FORTIFIED WINES</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #f3f4f5;">
                <div class="text-block insight">
                    <div class="text-block-title">
                        <h1>
                            Insights of the Category
                        </h1>
                    </div>
                    <div class="text-block-content">
                        <div class="text-section">
                            <div class="text-section-title">
                                <strong>The Art of Wine Tasting</strong>
                            </div>
                            <div class="text-section-content">
                                <p>
                                    Discover the art of wine tasting with expert tips and techniques to enhance your sensory experience and appreciation. Unlock the secrets of wine aromas, flavours, and textures for a truly immersive tasting journey.
                                </p>
                            </div>
                        </div>
                        <div class="text-section">
                            <div class="text-section-title">
                                <strong>The Perfect Serve</strong>
                            </div>
                            <div class="text-section-content">
                                <p>
                                    Learn the ideal serving temperatures for different types of wines to bring out their best characteristics. Learn the ideal serving temperatures for different types of wines to bring out their best characteristics. Master the proper pouring techniques to avoid spills and ensure a perfect serve every time.
                                </p>
                            </div>
                        </div>
                        <div class="text-section">
                            <div class="text-section-title">
                                <strong>Explore Flavor Profiles</strong>
                            </div>
                            <div class="text-section-content">
                                <p>
                                    Identify the key flavour notes in wines, from fruity and floral to earthy and spicy. Develop your palate by practising with various wines from different regions and grape varieties. Use the aroma wheel to pinpoint subtle nuances and enhance your tasting skills.
                                </p>
                            </div>
                        </div>
                        <div class="text-section">
                            <div class="text-section-title">
                                <strong>Appreciating Age</strong>
                            </div>
                            <div class="text-section-content">
                                <p>
                                    Discover how ageing affects the complexity and depth of wine flavours and aromas. Learn to recognize the signs of a well-aged wine versus one past its prime. Understand the best storage conditions to preserve your wine collection for optimal ageing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }

        @if (ViewBag.Category != null)
        {
            <div class="content">
                <div class="content-wrapper">
                    <div class="content-section left">
                        <div class="filter-box">
                            <div class="field title">
                                <h5>TITLE</h5>
                            </div>
                            <div class="field values">
                                <h6>VALUES</h6>
                            </div>
                        </div>
                    </div>
                    <div class="content-section right">
                        <div class="product-result">
                            <header class="product-result-header">
                                <div class="prResultCount">Total: @(Model.ToList().Count) products</div>
                                <div class="prDropdown prDropSortBy" id="prDropDown-Sort">
                                    <div class="prDropdownLabel">
                                        Sort by: @Session["SortOption"].ToString()
                                    </div>
                                    <div class="prDropdownOptions">
                                        <a class="prDropdownOption prSort" data-sort-option="RELEVANCE" role="option" href="@(Url.Action("Index", "Product", new { style = ViewBag.Style, SortOption = "RELEVANCE" }))">Best match</a>
                                        <a class="prDropdownOption prSort" data-sort-option="PRICE-ASC" role="option" href="@(Url.Action("Index", "Product", new { style = ViewBag.Style, SortOption = "PRICE-ASC" }))">Price: Low to High</a>
                                        <a class="prDropdownOption prSort" data-sort-option="PRICE-DESC" role="option" href="@(Url.Action("Index", "Product", new { style = ViewBag.Style, SortOption = "PRICE-DESC" }))">Price: High to Low</a>
                                        <a class="prDropdownOption prSort" data-sort-option="NAME-ASC" role="option" href="@(Url.Action("Index", "Product", new { style = ViewBag.Style, SortOption = "NAME-ASC" }))">Name: A to Z</a>
                                        <a class="prDropdownOption prSort" data-sort-option="NAME-DESC" role="option" href="@(Url.Action("Index", "Product", new { style = ViewBag.Style, SortOption = "NAME-DESC" }))">Price: Z to A</a>
                                    </div>
                                </div>
                            </header>
                            <ul class="product-result-list">
                                @foreach (var item in Model)
                                {
                                    <li class="product-result-list-item">
                                        <div class="product-display-item-container">
                                            <div class="product-purchase-wrapper">
                                                <div class="product-purchase">
                                                    <div class="product-display top">
                                                        <div class="product-image">
                                                            <a href="@Url.Action("Details", "Product", new { productName = item.ProductName })">
                                                                <img src="~/Content/Images/wine/@WineryUtilities.ParseItemNameIntoPNGFileName(item.ProductName)" />
                                                            </a>

                                                        </div>
                                                    </div>
                                                    <hr class="hr-product-seperator" />
                                                    <div class="product-display bottom">
                                                        <div class="product-info-wrapper">
                                                            <div class="product-name">
                                                                <span>@item.ProductName</span>
                                                            </div>
                                                            <div class="product-capacity">
                                                                <span>@(item.ProductCapacity)cl / @(item.ProductABV)%</span>
                                                            </div>
                                                            <div class="product-desc">
                                                                <span>@item.ProductDesc</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-info-spacer">

                                                        </div>
                                                        <div class="product-price">
                                                            @{
                                                                if (ProductUtilityService.IsProductOnSale(item))
                                                                {
                                                                    <span>£@(item.ProductSalePrice.Value.ToString("N2"))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>£@item.ProductPrice.ToString("N2")</span>
                                                                }
                                                            }

                                                        </div>
                                                        <div class="product-purchase-button">
                                                            <button onclick="location.href='@Url.Action("Details","Product", new { productName = item.ProductName })'">Add to cart</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <footer class="product-result-footer">
                            </footer>
                        </div>
                    </div>
                    <script>
                        document.querySelectorAll(".prDropdownOption.prSort").forEach(div => {
                            div.onclick = function () {
                                location.reload(); // Reload the current page on click
                            };
                        });
                    </script>
                </div>
            </div>
        }

    </main>
    
</div>

