@model Winery.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/user-details-style.css">
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="sidebar sidebar-main">
            @Html.Action("GetUserActions", "User", new { id = Model.UserID })
        </div>
        <div class="board">
            <div class="page-title-wrapper">
                <h1 class="page-title" id="page-title-heading">
                    EDIT USER INFORMATION
                </h1>
            </div>
            <div class="account-block dashboard-info">
                <div class="account-block-title">
                    <strong>ACCOUNT INFORMATION</strong>
                </div>
                <div class="account-block-content">
                    <div class="account-box box-information">
                        @using (Html.BeginForm("Edit","User"))
                        {
                            @Html.AntiForgeryToken()
                            <strong class="box-title">
                                Personal Information
                            </strong>
                            <div class="box-content">
                                <div class="user-form-field LastName">
                                    <label class="user-form-label" for="LastName">Last Name</label>
                                    <div class="user-form-control">
                                        <input id="LastName" name="LastName" value="@Model.LastName" />
                                    </div>
                                </div>
                                <div class="user-form-field MiddleName">
                                    <label class="user-form-label" for="MiddleName">Middle Name</label>
                                    <div class="user-form-control">
                                        <input id="MiddleName" name="MiddleName" value="@Model.MiddleName" />
                                    </div>
                                </div>
                                <div class="user-form-field FirstName">
                                    <label class="user-form-label" for="FirstName">First Name</label>
                                    <div class="user-form-control">
                                        <input id="FirstName" name="FirstName" value="@Model.FirstName" />
                                    </div>
                                </div>
                            </div>
                            <div class="box-actions">
                                
                            </div>
                            <div class="box-actions-submit">
                                <button type="submit" class="user-edit-save-button" value="Save">
                                    SAVE
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
