@model IEnumerable<Winery.Models.Product>
@using Winery.Services;
@{

    ViewBag.Title = "Home Page";
}


@{
    var mainProduct = Model.First();
} 

<main>
    <link href="~/Content/home-index-styles.css" rel="stylesheet">
    <link href="~/Content/home-index-premium-wines-styles.css" rel="stylesheet">
    <div class="row">
        <div class="welcome-content background-overlay">
            <div class="background-overlay">
            </div>
            <img class="welcome-img" src="~/Content/Images/Home img.jpg" />
        </div>
        <div class="welcome-content">
            <div>
                <h5 class="welcome-slogan">PERFECT WINE WITH AMAZING GRAPES</h5>
            </div>
            <div>
                <button class="shop-now-button" type="button" onclick="location.href='@Url.Action("Index","Product", new {style = 0})'">
                    <div>
                        <span>SHOP NOW</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="section header">
        <h1>PREMIUM WINES</h1>
    </div>
    <div class="row" style="height: 1000px;">

        <div class="premium-wines-container">
            <!-- Left Section: Product Display -->
            <div class="premium-wines-container left">
                <div class="main-product-wrapper">
                    <div class="main-product-content left">
                        <div class="product-content-display-properties thumbnail">
                            <img src="~/Content/Images/wine/@ProductUtilityService.ParseItemNameIntoPNGFileName(mainProduct.ProductName)" alt="Product Image">
                        </div>
                        <div class="product-content-display-properties product-name">
                            <p>@mainProduct.ProductName</p>
                        </div>
                        <div class="product-content-display-properties product-buy-button">
                            <button onclick="location.href='@Url.Action("Details", "Product", new { productName = mainProduct.ProductName })'">
                                <span>BUY NOW</span>
                            </button>
                        </div>
                    </div>
                    <div class="main-product-content right">
                        <div class="product-content-display-properties product-category">
                            <p class="product-content-header-properties-category product-capacity">Capacity</p>
                            <p class="product-content-display-properties-category product-capacity">@mainProduct.ProductCapacity<span>ml</span></p>
                        </div>
                        <div class="product-content-display-properties product-capacity">
                            <p class="product-content-header-properties-category product-category">Catergory</p>
                            <p class="product-content-display-properties-category product-category">@mainProduct.Category.CategoryName</p>
                        </div>
                        <div class="product-content-display-properties product-origin">
                            <p class="product-content-header-properties-category product-origin">Origin</p>
                            <p class="product-content-display-properties-category product-origin">@mainProduct.ProductOrigin</p>
                        </div>
                        <div class="product-content-display-properties product-aging">
                            <p class="product-content-header-properties-category product-aging">Aging</p>
                            <p class="product-content-display-properties-category product-aging">@ProductUtilityService.GetAgingYearFromNow(@mainProduct.ProductYearAging)</p>
                        </div>
                        <div class="product-content-display-properties product-price">
                            <p class="product-content-header-properties-category product-price">Price</p>
                            <p class="product-content-display-properties-category product-price">£@mainProduct.ProductPrice.ToString("F2")</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Section: 2x2 Product Grid -->

            <div class="premium-wines-container right">
                <ul class="premium-wines-list">
                    @{
                        foreach (var item in Model)
                        {
                            if (Model.First() != item)
                            {
                                <li class="product-card">
                                    <div class="product-card-wrapper">
                                        <div class="product-card-wrapper-background-effect"></div>
                                        <div class="product-card-content left">
                                            <div class="thumbnail">
                                                <img src="~/Content/Images/wine/@ProductUtilityService.ParseItemNameIntoPNGFileName(item.ProductName)" alt="Italian Red Wine">
                                            </div>
                                            <div class="product-card-content-display-properties product-name">
                                                <a href="@Url.Action("Details","Product", new { productName = item.ProductName })">@item.ProductName</a>
                                            </div>
                                        </div>
                                        <div class="product-card-content right">
                                            <div class="product-card-content-display-properties product-buy-button">
                                                <a href="@Url.Action("Details","Product", new { productName = item.ProductName })">
                                                    <p>ADD TO CART</p>
                                                </a>
                                            </div>
                                            <div style="flex: 0 0 10%">

                                            </div>
                                            <div class="product-card-content-display-properties product-price">
                                                <p>£@item.ProductPrice.ToString("F2")</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
                
            </div>
        </div>
    </div>
    <div class="row">

    </div>

</main>