<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/layout-style.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/navbar.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="navbar-content-main" class="navbar-content">
        <div class="nav-section left">
            <a href="@Url.Action("Index","Home")">
                <span class="nav-menu-item-text">Home</span>
            </a>
            <a href="@Url.Action("Index","Products")">
                <span class="nav-menu-item-text">Shop</span>
            </a>
            <a href="@Url.Action("About","Home")">
                <span class="nav-menu-item-text">About</span>
            </a>
        </div>

        <div class="nav-section center">
            <button style="background-color: transparent; border: 0;" onclick="location.href='@Url.Action("Index", "Home")'">
                <span>Winery</span>
            </button>
            
        </div>

        <div class="nav-section right">
            <a href="#">Log In</a>
            <a href="#">Account</a>
            <a href="#">Settings</a>
        </div>

    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-newsletter" style="position:relative; text-align: center; color: white;">
                    <img src="~/Content/Images/footer_img.jpg" style="width: 100%; height: auto" />
                    <div style="position:absolute; top:50%; left: 20%; transform: translate(-50%, -50%)">
                        <h1>NEWSLETTER</h1>
                        <h6>Sign up for exclusive offers, masterclasses, launches and the latest news</h6>
                    </div>
                </div>
                <div>
                    <a>
                        Winery
                    </a>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
