@using Winery.Ultilities;
@using Winery.Services;
@using Winery.Models;
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentUser = Session["user"] as User;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/layout-style.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/navbar.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="navbar-content-main" class="navbar-content">
        <div class="nav-section left">
            <div class="nav-item-container">
                <a href="@Url.Action("Index","Home")">
                    <span class="nav-menu-item-text">HOME</span>
                </a>
            </div>
            <div id="nav-item-shop" class="nav-item-container">
                <span class="nav-menu-item-text">SHOP</span>
                <div class="shopDropdown shopCategories">
                    <div class="shopDropdownOptions">
                        <a href="@Url.Action("Index","Product", new {style = 1})" class="shopDropdownOption shopCategory" data-shop-category="RED" role="option">Red Wines</a>
                        <a href="@Url.Action("Index","Product", new {style = 2})" class="shopDropdownOption shopCategory" data-shop-category="WHITE" role="option">White Wines</a>
                        <a href="@Url.Action("Index","Product", new {style = 3})" class="shopDropdownOption shopCategory" data-shop-category="ROSE" role="option">Rosé Wines</a>
                        <a href="@Url.Action("Index","Product", new {style = 4})" class="shopDropdownOption shopCategory" data-shop-category="CHAMPAGNE-SPARKLING" role="option">Champagne & Sparkling Wines</a>
                        <a href="@Url.Action("Index","Product", new {style = 5})" class="shopDropdownOption shopCategory" data-shop-category="ORANGE" role="option">Orange Wines</a>
                        <a href="@Url.Action("Index","Product", new {style = 6})" class="shopDropdownOption shopCategory" data-shop-category="FORTIFIED-SWEET" role="option">Fortified & Sweet Wines</a>
                    </div>
                </div>
            </div>
            <div class="nav-item-container">
                <a href="@Url.Action("About","Home")">
                    <span class="nav-menu-item-text">ABOUT</span>
                </a>
            </div>
            
        </div>

        <div class="nav-section center">
            <button style="background-color: transparent; border: 0;" onclick="location.href='@Url.Action("Index", "Home")'">
                <span style="font-family: 'Lucky Skirt';">Winery</span>
            </button>

        </div>

        <div class="nav-section right">
            @if (currentUser != null)
            {
                <div class="nav-item-container">
                    <a href="@Url.Action("Details", "User", new { id = currentUser.UserID })">
                        <span class="nav-menu-item-text">@currentUser.Username</span>
                    </a>
                </div>

            }
            else
            {
                <div class="nav-item-container">
                    <a href="@Url.Action("Index","Access")">
                        <span class="nav-menu-item-text">MY ACCOUNT</span>
                    </a>
                </div>
            }

            <div class="nav-item-container">
                <a href="@Url.Action("Index","Home")">
                    <span class="nav-menu-item-text">CART</span>
                </a>
            </div>
            @if (currentUser != null)
            {
                <div class="nav-item-container">
                    <a href="@Url.Action("Logout", "Login", new {})">
                        <span class="nav-menu-item-text">LOGOUT</span>
                    </a>
                </div>
            }
        </div>
    </nav>
    <div>
        @{
            if (currentController == "Home")
            {
                if (currentAction != "Index")
                {
                    <div class="title-thumbnail">
                        <img class="thumbnail-img" src="~/Content/Images/title_thumbnail.png" />
                    </div>
                }
            }
            else
            {
                <div class="title-thumbnail">
                    <img class="thumbnail-img" src="~/Content/Images/title_thumbnail.png" />
                </div>
            }
        }

        @RenderBody()
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-newsletter" style="position:relative; text-align: center; color: white;">
                    <div class="newsletter-background-overlay"></div>
                    <img src="~/Content/Images/footer_img.jpg" style="width: 100%; height: auto;" />
                    <div style="position:absolute; top:50%; left: 20%; transform: translate(-50%, -50%)">
                        <h1>NEWSLETTER</h1>
                        <h6>Sign up for exclusive offers, masterclasses, launches and the latest news</h6>
                    </div>
                </div>
                <div class="footer-infomation-wrapper">
                    <div class="footer-infomation logo">
                        <img src="~/Content/Images/logo_huflit.png"/>
                    </div>
                    <div class="footer-infomation the-company">
                        <h4>THE COMPANY</h4>
                        <a>
                            About Us
                        </a>
                        <a>
                            Events
                        </a>
                        <a>
                            Blog
                        </a>
                    </div>
                    <div class="footer-infomation help-centre">
                        <h4>HELP CENTRE</h4>
                        <a>
                            Contact Us
                        </a>
                        <a>
                            FAQs
                        </a>
                    </div>
                    <div class="footer-infomation legal">
                        <h4>LEGAL</h4>
                        <a>
                            Term & Conditions
                        </a>
                        <a>
                            Privacy & Cookies
                        </a>
                    </div>
                    <div class="footer-infomation social-media">

                    </div>
                </div>
            </div>
            <div class="footer-infomation-copyright">
                <p style="margin: 0; padding: 0;">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
