<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/layout-style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/styles.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar-content">
        <div class="nav-section left">
            <a href="@Url.Action("Index","Home")">Home</a>
            <a href="@Url.Action("Index","Products")">Shop</a>
            <a href="@Url.Action("About","Home")">About</a>
        </div>

        <div class="nav-section center">
            <span>Winery</span>
        </div>

        <div class="nav-section right">
            <a href="#">Log In</a>
            <a href="#">Account</a>
            <a href="#">Settings</a>
        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="footer-wrapper">
                <a>
                    Winery
                </a>


            </div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
