@model IEnumerable<Winery.Models.OrderDetails>
@using Winery.Models;
@using Winery.Services;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["user"] as User;
}
<link rel="stylesheet" href="~/Content/user-details-style.css">
<div class="page-wrapper">
    <main class="page-content" id="maincontent">
        <div class="sidebar sidebar-main">
            @Html.Action("GetUserActions", "User", new { id = currentUser.UserID })
        </div>
        <div class="board">
            <div class="page-title-wrapper">
                <h1 class="page-title" id="page-title-heading">
                    ORDER DETAILS
                </h1>
            </div>
            <div class="list-block order-details-info">
                <div class="list-block-title">
                    <strong>DETAILS OF ORDER</strong>
                </div>
                <div class="list-block-content">
                    <div class="list-box box-information">
                        <strong class="box-title">
                        </strong>
                        <div class="box-content">
                            <table class="order-details-list">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th></th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="order-details-col item">
                                                <a href="@Url.Action("Details", "Product", new { productName = item.Product.ProductName })">
                                                    <span class="product-thumbnail">
                                                        <img src="~/Content/Images/wine/@ProductUtilityService.ParseItemNameIntoPNGFileName(item.Product.ProductName)" />
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="order-details-col name">
                                                <a style="font-size: 1rem;" href="@Url.Action("Details", "Product", new { productName = item.Product.ProductName })" class="action">@item.Product.ProductName</a>
                                            </td>
                                            <td class="order-details-col price">
                                                <p>£@(item.UnitPrice.ToString("N2"))</p>
                                            </td>
                                            <td class="order-details-col quantity">
                                                <p>@item.Quantity</p>
                                            </td>
                                            <td class="order-details-col quantity">
                                                <p>£@((item.UnitPrice * item.Quantity).ToString("N2"))</p>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        @if (Model.Count() > 0)
                                        {
                                            <td>
                                                £@Model.First().Order.Total.ToString("N2")
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <td>Payment</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        @if (Model.Count() > 0)
                                        {
                                            <td>
                                                <div class="qr-pay">
                                                    <button class="qr-pay-button" onclick="generateQRPayImage()">
                                                        QR PAY
                                                    </button>
                                                </div>
                                            </td>
                                        }

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-actions">

                        </div>
                    </div>

                </div>
            </div>
            <div class="account-block dashboard-info" style="padding-top: 20px; display: none" id="payment">
                <div class="account-block-title">
                    <strong>PAYMENT</strong>
                </div>
                <div class="account-block-content">
                    <div class="account-box box-information">
                        <strong class="box-title">
                            QR PAY
                        </strong>
                        <div class="box-content">
                            <img class="qr-pay-image" id="qr-image" />
                        </div>
                        <div class="box-actions">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    function generateQRPayImage() {
        const payment = document.getElementById("payment");
        const img = document.getElementById("qr-image");
        var amount = @Model.First().Order.Total;
        var addInfo = @Model.First().Order.OrderID;
        var accountName = "WINERY INC";
        img.src = "https://img.vietqr.io/image/VBA-7308205286441-compact2.png?amount=" + amount + "&addInfo=" + addInfo + "&accountName=" + accountName;
        payment.style.display = "block";
    }
</script>

